.contactwelcome{
    width: 100%;
    height: 100vh;

    backdrop-filter: blur(2px);
}
.welcome{
    position: absolute;
    padding: 50px 20px;
    font-size: 30px;
    font-family:  'Fahkwang', sans-serif;
    color: var(--var-theme);
}
.contactform {
    padding: 0px 100px ;
    padding-bottom:100px ;
    display: flex;
    height: 90%;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    
}
form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.contactform input:not(:last-child),textarea{
    border: none;
    border-bottom: 2px solid var(--var-theme);
    height: 60px;
    width: 40%;
    padding: 10px 0px;
    background-color: transparent;
    color: var(--var-theme);
    font-size: 20px;
}
.contactform input:nth-child(4){
    height: 150px;
}
.contactform input:focus,textarea:focus{
    outline: none;
}
.contactform input::placeholder,textarea::placeholder{
    color: var(--var-theme);
    font-size: 20px;
    font-family:'Fahkwang', sans-serif;
}
textarea{
    overflow: auto;
    
}
textarea::-webkit-scrollbar{
    width: 1rem;
    display: none;
}
.contactform input:last-child{
    color: var(--var-theme);
    font-size: 20px;
    border: 2px solid var(--var-theme);
    background-color: transparent;
    margin-top: 20px;
    padding: 5px 20px;
    cursor: pointer;
}
.contactform input:last-child:hover{
    background-color:white;
    color: black;
    border: 2px solid black;
}
@media (max-width:675px){
    .contactform input:not(:last-child),textarea{
        width: 120%;
    }
    .contactform{
        height: 110%;
    }
}