.experienceContainer{
    width: 100%;
    height: 400px;
    background-color: var(--var-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,var(--var-theme),black);

}


.experienceBox li:hover{
    color: white;
}
.experienceBox li p{
    padding:  20px 0px;
    font-size: medium;
    text-align: center;
}
.experienceBox li{
    font-family:'Fahkwang', sans-serif;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight:bolder!important;

}
.experienceList li:hover span{
    display: block;
    margin-left: -50px;
}
.experienceBox li span{
    text-align: justify;
    position: absolute;
    display: none;
    background-color: black;
    color: var(--var-theme);
    font-size: 18px;
    width: 300px;
    border-radius: 4px;
    padding: 15px;
    overflow: auto;
}

@media (max-width:675px){
    .experienceBox li{
        font-size: 16px;
    }
}