.hero{
    overflow: hidden;
    background:url('/images/hero_2.jpg');
    height:100vh;
    width:100%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}
.heroText{
    display: flex;  
    flex-direction: column;
}
.heroText span{
    letter-spacing: 30px;
}
.hero ul{
    position: absolute ;
    right: 20px;
    top:translate(-50%,0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero ul li i{
    width: 30px;
    height: 30px;
    font-size: 180%;
    padding: 10px;
    border-radius: 60px;
    margin:10px;
    border: 1px solid transparent;
}
.hero ul li:hover i{
    background-color:white;
    color: black;
}
@media (max-width:576px){
    .hero ul{
        top: 85%;
        left: auto;
        right: auto;
        flex-direction: row;
        width: 250px;
    }
    .heroText span{
        letter-spacing: 15px;
    }
    
}
