@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200&display=swap');
*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin:0;
    text-decoration: none;
    text-align: justify;
    
}
:root{
    --var-theme:rgb(255, 0, 0);
}
div{

    font-family: sans-serif;
}
.title{
    opacity: 80%;
    padding:200px 0px;
    display: flex;
    justify-content: center;
    color: var(--var-theme);
    font-family:'Fahkwang', sans-serif;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 10px;
}
.title span{
    opacity: 90%;
    color: grey;
    font-family:'Fahkwang', sans-serif;
}
.title--small{
    font-size: 50px;
    padding: 20px 0px;
    margin-bottom: 50px;
    border-bottom: 5px solid var(--var-theme);
}
.title--zero{
    padding: 50px 0px 0px 0px;
    opacity: 60%;

    border: none;
}
li i{
    color: white;
    padding-right: 1rem;
}
li:hover i{
    transition: .2s linear;
    padding-right: 2rem;
}
body{
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    padding: 0;
    
}
#particles-js{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;	
}

.top{
    overflow: hidden;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0,0.1);
    backdrop-filter: blur(15px);
    height: 55px;
}
    
    html::-webkit-scrollbar{
        width: 1rem;
        display: none;
    }
    /* html::-webkit-scrollbar-track{
        background-color: black;
    }
    html::-webkit-scrollbar-thumb{
        background: var(--var-theme);
    } */
.navbar{
    display: flex;
    width: 60%;
    justify-content: flex-start;

}

.list_items{
    display: flex;
}
.experienceContainer{
    display: none;
}
.navbar li{
    color: white;
    font-family:  'Fahkwang', sans-serif;
    letter-spacing: 5px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
}
.navbar a{
    text-decoration: none;
}
.navbar li:hover{
    background-color: var(--var-theme);
    color: black;
}
.name{

    font-family:  'Fahkwang', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: medium;
    letter-spacing: 15px;
}
.hero{
    overflow: hidden;
    background:url('/images/hero_2.jpg');
    height:100vh;
    width:100%;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}
.herContainer{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.herContainer p{
    font-size: 100px;
    /* color: var(--var-theme); */
    font-weight: medium;
    color: white;
    letter-spacing: 15px;
    font-family:  'Fahkwang', sans-serif;
    text-align: center;
    overflow: hidden;
}   
.herContainer span{
    color: white;
    font-size: 20px;
    letter-spacing: 30px;
    backdrop-filter: blur(20px);
    padding: 10px 0px 10px 22px;
/*     background-color: rgb(255,255,255,0.5);
    border: 1px solid rgb(255,255,255,0.5); */
}
.hero ul{
    backdrop-filter: blur(20px);
/*     background-color: rgb(255,255,255,0.5);
    border: 1px solid rgb(255,255,255,0.5); */
    color: white;
    
}
.hero ul li i{
    width: 30px;
    height: 30px;
    font-size: 28px;
    padding: 10px;
    border-radius: 60px;
    margin:10px;
    border: 1px solid transparent;
}
.hero ul li:hover i{
    background-color:white;
    color: black;
    font-size: 30px;
}
@keyframes typer {
    0%{
        width: 0px;
    }
    100%{
        width: 500px;
    }
}
.horizontal{
    display: flex;
    display: none;
    margin-top: 200px;
    justify-content: space-around;
    width: 500px;
}
.dropbtn {
    display: none;
    color: white;
    font-size: 22px;
    opacity: 60%;
    border: none;
    margin-top: 20px;
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;   
}
  
.dropdown-content {
    display: none;
    margin-left: -120px;;
    position: absolute;
    background-color: var(--var-theme);
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a {
    color: var(--var-theme);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content{
    background-color: black
}
  
.dropdown-content a:hover {background-color: black;font-size: 24px;margin-left: -10px;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: transparent}
.about{
    overflow: hidden;
    height: 800px;
    width: 100%;

    background: url(/images/about.jpg);
}
.aboutContainer{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgb(255,255,255,0.2);
    border: 1px solid rgb(255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutBox{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu{
    height: 100%;
    backdrop-filter: blur(20px);
    background-color: rgb(255,255,255,0.2);
    border: 1px solid rgb(255,255,255,0.1);
    width: 400px;
}
.hide{
    display: none;
}
.menu ul{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu ul a{
    /* color: rgb(0, 0, 255,0.5); */
    color: rgb(255,255,255,0.5);
    text-align: center;
    width: 100%;
    font-weight: bold;
    padding: 50px 0px;
    font-family:  'Fahkwang', sans-serif;
    letter-spacing: 10px;
    font-size: 30px;
    border-bottom: 5px solid rgb(255,255,255,0.5);
}
.menu ul a:last-child{
    border-bottom: none;
}
.nextmenu{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkto{
    font-family:  'Fahkwang', sans-serif;
    display: none;font-weight: bold;
    height: 400px;
}
.nextmenu div{
    backdrop-filter: blur(20px);
    background-color: rgb(255,255,255,0.2);
    border: 1px solid rgb(255,255,255,0.1);
    min-width: 400px;
    max-width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.project_1{
    display: flex;
    flex-basis: 90%;
    justify-content: center;
    flex-wrap: wrap;
}
.details_1{
    display: flex;
    flex-direction: column;
    color: var(--var-theme);
    justify-content: flex-end;
}

.para{
    font-size: 20px;
    color: white;
    width: 600px;
    text-align: justify;
}
.page_4{
    margin-top: 300px;
    display: block;
}
.cake{
    width: 600px;
    display: flex;
    

}
.img_1{
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;

}
.details_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end   ;
    color: var(--var-theme);
    height: 500px;
    
}


.img_2{
    width: 650px;
    height: fit-content;
    flex-basis: 50%;
    margin-top: 150px;
    display: flex;

    justify-content: flex-end;
    margin-bottom: 100px;

}
.img_2_1{
    display: none;
}
.project_2{
    display: flex;
    margin-top: 200px;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.details_3 {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.proj_link_2{
    color:var(--var-theme);
    font-size: 25px;
    text-decoration: none;
    text-align: right;
}
.proj_link_2:hover{
    color: white;
}

.img_3{
    
    width: 650px;
    margin-top:150px;
    height: fit-content;
}


/* starts here */


.contactbox{
    margin: 0;
    backdrop-filter: blur(5px);

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.contactcontainer{
    margin-left: 8%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap:1.5rem

}
.column ul li{
    font-family:'Fahkwang', sans-serif;
    font-weight: bold;
    list-style: none;
    color: var(--var-theme);
    margin-top: 20px;
    font-size: 18px;

}
.contactcontainer li i{
    padding-right: 5px;
    color: white;
    transition:all .3s linear;
}
.contactcontainer li:hover i{
    padding-right: 15px;
    color: var(--var-theme);
    z-index: 1;
}
i{
    color: var(--var-theme);
}
.headingcon{
    font-family:'Fahkwang', sans-serif;
    font-size: 28px;
    color: white;
}

@media (max-width:695px){
    *{
        box-sizing: border-box;
    }
    .navbar{
        display: none;
    }
    button{
        padding: 0px 20px;
        margin-bottom: 20px;
    }
    .dropbtn{
        display: block;
    }
    .summary{
        font-weight: 200;
        width: auto;
        height: 400px;
        padding: 10px;
        padding-right: 20px;
        padding-top: 50px;
        font-size: 20px;
        background: url('/images/code_pic.jpg');
        background-size: 95%;
        background-repeat: no-repeat;
        
    }
    .page_1{
        margin-left:15px
    }
    .page_img_1{
        display: none;
    }
    .page_1_column_1{
        flex-basis: auto;
    }

    header{
        width: 100%;
        margin-left: 0px;
        margin-top: 150px;
    }
   

    .buttons{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        
    }


    .topic{
        font-size: 30px;
    }
    .para{
        font-size: 15px;
    }
    .cake{
        width:320px;
        margin-bottom: -100px;
    }
    .img_2_1,.img_3{
        display: block;
        margin-top: 150px;
        width: 360px;
    }
    .img_2{
        display: none;
    }
    .details_3,.details_2{
        margin-top: 0px;
        width: 100%;
    }
    .details_1{
        margin-left: 0px;
    }
    .para{
        margin-left: 0px;
        
    }
    .topic,.para{
        width:100%
    }
    .img_2{
        margin-bottom: 10px;
    }
    .img_1{
        margin-top: 100px;
    }

    /* now */
    .title{
        font-size: 30px;
    }
    .column li{
        font-size: 8px;
    }
    .column h3{
        font-size: 30px;
        padding: 20px 0px;
    }
    .herContainer{
        height: auto;
        margin-top: 150px;
    }
    .herContainer p{
        font-size: 25px;
    }
    .hero ul li i{
        font-size: 18px;
        width: 32px;
        height:32px;
        padding: 5px;
        margin:0px;

    }
    .togo{
        display: none;

    }
    .hero ul li i:hover{
        font-size: 10px;
    }
    .herContainer span{
        font-size: 10px;
        letter-spacing: 15px;
    }
    .horizontal{
        display: flex;
        width: 300px;
    }
    .menu{
        width:30%;
        height:100%;
        width: 80px;

    }
    .aboutBox{
        width: 100%;
        justify-content: space-around;
    }
    .menu ul{
        padding :5px;
    }

    .nextmenu{
        height:75%;
        width: 60%;
        overflow: auto;
    }
    .nextmenu div{
        height: 100%;
    }.linkto{
        width: 100%;
        padding: 20px;
        font-size: 12px;
        height: 80%;
    }
    .hero{
        background-repeat: no-repeat;
        background-size: cover;
    }
    .name{
        font-size: 15px;
    }
    .hide a{
        
        display: flex;
        justify-content: center;
        font-size: 10px;
    }
    .hide a i{
        padding: 10px 5px;
        color: white;
    }
    .show a{
        display: none;
    }
}
@media(max-width:1200px){
    .dropbtn{
        display: block;
        margin-right: 20px;
    }
    .navbar{
        display: none;
    }
    .herContainer p{
        font-size: 45px;
    }
    .hide a{
        
        display: flex;
        justify-content: center;
        font-size: 10px;
    }
    .hide a i{
        padding: 10px 5px;
        color: white;
    }
    .show a{
        display: none;
    }
    .menu{
        width: 20%;
    }
    .aboutBox{
        width: 100%;
        justify-content: space-around;
    }
    .menu ul{
        padding :5px;
    }

    .nextmenu{
        height:75%;
        width: 60%;
        overflow: auto;
    }
    .experienceImage{
        display: none;
    }
}