body{
    background-color: black;
    box-sizing: border-box;
    padding: 0;;
}
#particles-js{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;	
}

.top{
    display: flex;
    padding: 10px;
    flex-basis: auto;
    justify-content: space-between;
}
.vivek
{
    flex-basis: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color:white;

}
.anand{
    color: gold;
}
.navbar{
    display: flex;
    flex-basis: 80%;
    margin-top: -10px;
    justify-content: flex-end;

}
.list_items{
    display: flex;
}
.navbar li{
    color: gold;
    font-family: sans-serif;
    padding: 20px;
    font-size: 15px;
    list-style: none;
}
.navbar a{
    text-decoration: none;
}
.navbar li:hover{
    color: white;
}
header{
    display: flex;
    margin-top: 200px;
    width: 90%;
    margin-left: 100px;
}
.page_1{
    display: flex;
    flex-basis: auto;
    justify-content: space-around;

}
.page_1_column_1{
    display: flex;
    flex-basis: 32%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.full_stack{

    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
}
.developer{
    color: white;
}
.developer:hover{
    color: gold;
}
.summary{
    color: white;
    font-size: 25px;
    font-weight: 300;
    font-family: sans-serif;
    text-align: left;
    opacity:90%;
    margin-top: 40px; 
}

.summary::first-line{
    color: gold;
}
.buttons{
    display: flex;
    margin-top:220px;
    
}
.guide{
    display: inline;
    border: 1px solid gold;
    background-color: transparent;
    color:gold;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 200px;
    width: 200px;
    height:40px;
    border-radius: 20px;
    
}
.contact{
    display: inline;
    border: 1px solid gold;
    background-color: transparent;
    color:gold;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 200px;
    width: 200px;
    height:40px;
    border-radius: 20px;
    margin-left: 30px;
}
.buttons button:hover{
    color:white;
    border:1px solid white;
}
.pagr_1_column_2{
    display: flex;
    align-items:center;
    justify-content: flex-end;
}
.page_img_1{
    width: 600px;
    margin-top: -50px;
}
.dropbtn {
    display: none;
    color: gold;
    font-size: 25px;
    opacity: 90%;
    border: none;
    margin-top: -5px;
    background-color: transparent;
}
  
.dropdown {
    position: relative;
    display: inline-block;   
}
  
.dropdown-content {
    display: none;
    margin-left: -120px;;
    position: absolute;
    background-color: gold;
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a {
    color: gold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content{
    background-color: black
}
  
.dropdown-content a:hover {background-color: black;font-size: 24px;margin-left: -10px;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: transparent}

.page_2{
width: auto;
}
#skill{
    display: flex;
    justify-content: center;
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 200px;
    font-size: 60px;
}
.set{
    color: white;
}
.navbar_page_2{
    display: flex;
    justify-content: center;
}
.navbar_page_2 ul{
    margin-top: 100px;
    display: flex;

}
.navbar_page_2 a{

    font-size: 22px;
    text-decoration: none;
    font-family: sans-serif;
    color:gold;
    padding: 20px;
}
.whole-box{ 
    width: 100%;
    height: fit-content;
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#box_1,#box_7,#box_10{

    height:250px;
    width:302.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
}
#box_2,#box_5,#box_9{
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
    width:302.8px;
    background-color: navy;
}
#box_3,#box_8,#box_12{
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
    width:302.8px;
    background-color: white;
}
#box_4,#box_6,#box_11{
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
    width:302.8px;
    background-color: red;
}

#django{
    display: block;
    width:120px;
}

#js{
    width: 80px;
}

#rest{
    width: 200px;
}
#py{
    width:120px;
}
#react{
    width: 180px;
}
#bootstrap{

    width: 180px;
}
#sqlite{
    width: 200px;
}
#github{
    width: 180px;
}
#git{
    width: 150px;
}
#agile{
    width: 150px;
}
#photoshop{
    width: 250px;
}
#orm{
    width: 150px;
}
.page_3{
    width: auto;
    margin-top: 200px;

}
#exp{
    font-size: 60px;
    display: flex;
    justify-content: center;
    color: gold;
    margin-bottom: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.table{
    display:flex;

    justify-content: center;


}
.left{
    width: 350px;
    display: flex;
    flex-direction: column;
}
.exp_1{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 300px;
    margin-top: 60px;
    border: 1px solid gold;
    border-radius: 10px;
}
.exp_2{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 300px;
    margin-top: 240px;
    border: 1px solid gold;
    border-radius: 10px;
}
.exp_3{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 300px;
    margin-top: 280px;
    border: 1px solid gold;
    border-radius: 10px;
}
.exp_4{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 300px;
    margin-top: 240px;
    border: 1px solid gold;
    border-radius: 10px;
}
.divident{
    margin-bottom: -12px;
    margin-left: 20%;
    height: 150px;
    border: 5px solid gold;
    border-top: hidden;
    border-left: hidden;
    border-bottom: hidden;
    line-height: 0px;
}
.divident_1{
    margin-top: -18px;
    margin-left: 20%;
    height: 250px;
    border: 5px solid gold;
    border-top: hidden;
    border-left: hidden;
    border-bottom: hidden;
    line-height: 0px;
}
.circle{
    color:gold;
    font-size: 40px;
    margin-left: -12px;
    line-height: 0px;
}
.circle_1{
    color:gold;
    font-size: 40px;
    margin-left: -18px;
    transform: rotateZ(180deg);
    line-height: 10px;
}
.circle_3{
    color:gold;
    font-size: 40px;
    margin-left: -11.25px;
    transform: rotateZ(270deg);
    line-height: 10px;
}
.circle_4{
    color:gold;
    font-size: 40px;
    margin-left: -11.25px;
    transform: rotateZ(90deg);
    line-height: 10px;
}
.middle{
    height: 1290px;
    display: flex;
    flex-direction: column;

}
.head{
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.right{

    width: 350px;
    display: flex;
    flex-direction: column;


}
#projects{
    font-size: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
    display: flex;
    justify-content: center;
}
.project_1{
    margin-top: 200px;
    display: flex;
    flex-basis: 90%;
    justify-content: center;
    flex-wrap: wrap;
}
.details_1{
    display: flex;

    flex-direction: column;
    color: gold;
    justify-content: flex-end;
}
.topic{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
    font-size: 50px;
    width: 600px;
    text-align: center;
}
.para{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    width: 600px;
    text-align: center;
}
.page_4{
    margin-top: 300px;
    display: block;
}
.cake{
    width: 600px;
    display: flex;
    

}
.img_1{
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;

}
.details_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end   ;

    color: gold;
    height: 500px;
    
}


.img_2{
    width: 650px;
    height: fit-content;
    flex-basis: 50%;
    margin-top: 150px;
    display: flex;

    justify-content: flex-end;
    margin-bottom: 100px;

}
.img_2_1{
    display: none;
}
.project_2{
    display: flex;
    margin-top: 200px;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.details_3 {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img_3{
    
    width: 650px;
    margin-top:150px;
    height: fit-content;
}
.full{
    width: 500px;
    flex-basis: 70%;
    height: fit-content;
    margin-top: 450px;
}
.full_div{
    display: flex;
    justify-content: center;
}
.card_box{

    height:400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    height:400px;
    margin-left:20px;
    background-color: rgb(128, 128, 128,0.2) ;
    color: gold;
    border: 1px solid gold;

}
.card:hover{
    width:350;
    height:450px;
    margin-top: -50px;
    background-color: rgb(255, 255, 255,0.8);
    color: black;
}
.page_5{
    margin-top: 100px;
    height: 800px;
}
.card_head{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-left: 10px;
    text-align: center;
}
.dp_card{
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;

}
.card_box a{
    text-decoration: none;
}
#page_5_head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: gold;
    display: flex;
    justify-content: center;
    margin-top: 80px;

    margin-bottom: 80px;

}
.card_name{
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: -20px;

}

.card_button{
    border: 1px solid gold;
    padding: 8px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 20px;
    width: 40%;
    margin-left:27%;
} 
@media (max-width:695px){
    *{
        box-sizing: border-box;
    }
    .vivek{
        font-size: 28px;
    }
    .navbar{
        display: none;
    }
    .dropbtn{
        display: block;
    }
    .summary{
        font-weight: 200;
        width: auto;
        height: 400px;
        padding: 10px;
        padding-right: 20px;
        padding-top: 50px;
        font-size: 20px;
        background: url('/images/code_pic.jpg');
        background-size: 95%;
        background-repeat: no-repeat;

    }
    .page_1{
        margin-left:15px
    }
    .page_img_1{
        display: none;
    }
    .page_1_column_1{
        flex-basis: auto;
    }
    .full_stack{
        font-size: 28px;
    }
    header{
        width: 100%;
        margin-left: 0px;
        margin-top: 150px;
    }
    .contact{
        margin-left: 0px;
        margin-top: 20px;
        font-size: 14px;
    }
    .guide{
        font-size: medium;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    #skill{
        font-size: 50px;

    }
    .navbar_page_2 a{
        font-size: 15px;
    }
    .navbar_page_2{

        justify-content: flex-end;
    }
    #projects{
        font-size: 45px;
        justify-content: center;

    }
    .topic{
        font-size: 30px;
    }
    .para{
        font-size: 15px;
    }
    .cake{
        width:320px;
        margin-bottom: -100px;
    }
    .img_2_1,.img_3{
        display: block;
        margin-top: 150px;
        width: 360px;
    }
    .img_2{
        display: none;
    }
    .details_3,.details_2{
        margin-top: 0px;
        width: 100%;
    }
    .details_1{
        margin-left: 0px;
    }
    .para{
        margin-left: 0px;

    }
    .topic,.para{
        width:100%
    }
    .img_2{
        margin-bottom: 10px;
    }
    .img_1{
        margin-top: 100px;
    }
    .exp_3,.exp_1,.exp_2,.exp_4{
        font-size: 15px;
        width: 150px;
        padding: 5px;
        height: 300px;
    }
    .left{
        width: 160px;

    }
    .table{
        display: flex;
        justify-content: space-around;
        padding: 0px;

    }
    .right{
        width: 160px;
    }

    #exp{
        font-size: 40px;
        display: block;
        transform: translate(55%,0%);
        width: 190px;
    }
    .full_div{
        width: 100%;
    }
    .middle{
        height:1600px;
        margin-top:-10px;
        margin-left: 0px;
    }
    .divident_1{
        height: 200px;

    }
    .table{
        margin-left: 10px;
    }
    .card{
        width: 150px;
        height: 300px;
    }
    .card_head{
        font-size: 35px;
        margin-left: -5px;
    }
    .card_button{
        display: none;
    }
    .card_name{
        font-size: 12px;
    }
    #Git{
        margin-bottom: 12px;
    }
    .summary:hover{
        color: gold;
    }
    .card_box{
        margin-left: -20px;
    }

}

