body{
    background-color: black;
    margin: 0px;
}
#particles-js{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;	
}
.top{
    display: flex;
}
.digital
{
    margin-left: 20px;
    padding-top:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
    color:white;

}
.resume{
    color: gold;
}
.navbar{

    float: right;
    margin-left: 420px;
    margin-top:-5px
}
.list_items{
    display: flex;
}
.navbar li{
    color: gold;
    font-family: sans-serif;
    padding: 20px;
    font-size: 1vw;
    list-style: none;
}
.navbar a{
    text-decoration: none;
}
.navbar li:hover{
    color: white;
}
header{
    margin: 100px;
    margin-top: 250px;
}
.intro_card{
    display: flex;
    width: 80%;
}
.page_1_column_1{
    display: flex;
    flex-direction: column;
}
.full_stack{
    width: 600px;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
}
.developer{
    color: white;
}
.developer:hover{
    color: gold;
}
.summary{
    color: white;
    font-size: 22px;
    font-weight: 300;
    font-family: sans-serif;
    text-align: left;
    width: 480px;
    opacity:90%;
    margin-top: 40px;
    
}

.summary::first-line{
    color: gold;
}
.buttons{
    display: flex;
    margin-top:250px;
}
.button_1{
    display: inline;
    border: 1px solid white;
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 200px;
    width: 200px;
    height:40px;
    border-radius: 20px;
    
}
.button_2{
    display: inline;
    border: 1px solid white;
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 200px;
    width: 200px;
    height:40px;
    border-radius: 20px;
    margin-left: 30px;
}
.buttons button:hover{
    color:gold;
    border:1px solid gold;
}

.dp{
    width: 550px;
    margin-left: 100px; 
    margin-top:-100px
}
.dropbtn {
    display: none;
    color: gold;
    padding: 5px;
    font-size: 25px;
    margin-top: 26px;
    border: none;
    margin-left: 225px;
    border-radius: 5px;
    background-color: black;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 800px;

    
}
  
.dropdown-content {
    display: none;
    margin-left: 160px;;
    position: absolute;
    background-color: gold;
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a {
    color: gold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content{
    background-color: black
}
  
.dropdown-content a:hover {background-color: black;font-size: 24px;margin-left: -10px;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: transparent}

.page_2{
width: 100%;
}
#skill{
    margin-left: 650px;
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 200px;
    font-size: 4vw;
}
.set{
    color: white;
}
.whole-box{
    position:relative;
    width: 80%;
    height: 750px;
    margin-top: 50px;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
#box_1,#box_7,#box_10{
    position:relative;
    height:250px;
    width:25%;
    background-color: gold;
}
#box_2,#box_5,#box_9{
    position:relative;
    height:250px;
    width:25%;
    background-color: navy;
}
#box_3,#box_8,#box_12{
    position:relative;
    height:250px;
    width:25%;
    background-color: white;
}
#box_4,#box_6,#box_11{
    position:relative;
    height:250px;
    width:25%;
    background-color: red;
}

#django{
    display: block;
    width:120px;
    padding:80px;
    margin-left: 10px;
    margin-top: 20px;
}


#js{
    padding:70px;
    margin-left: 40px;
    width: 80px;
}

.navbar_page_2 ul{
    margin-top: 100px;
    display: flex;
    margin-left:480px
}
.navbar_page_2 a{

    font-size: 22px;
    text-decoration: none;
    font-family: sans-serif;
    color:gold;
    padding: 20px;
}
#rest{
    padding: 50px;
    width: 200px;
}
#py{
    width:120px;
    padding: 40px;
    margin-left: 50px;
}
#react{
    padding:50px;
    width: 180px;

}
#bootstrap{
    padding:50px;
    width: 180px;
}
#sqlite{
    padding:50px;
    width: 200px;
    margin-top: 20px;
}
#github{
    padding:40px;
    width: 180px;
    margin-left:20px;
}
#git{
    padding: 50px;
    width: 150px;
}
#agile{
    padding: 50px;
    width: 150px;
    margin-left: 20px;
}
#photoshop{
    width: 250px;
    padding: 30px;
    margin-top: 60px;
}
#orm{
    margin-left: 30px;
    padding: 60px;
    width: 150px;
}
.page_3{
    width: 100%;
    margin-top: 200px;

}
#exp{
    font-size: 60px;
    margin-left: 42%;
    color: gold;
    margin-bottom: 200px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.table{
    width: 60%;
    margin-left: 20%;
    display:flex;
    height: 800px;

}
.left{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.exp_1{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 300px;
    margin-top: 60px;
    border: 1px solid gold;
    border-radius: 10px;
}
.exp_2{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 300px;
    margin-top: 240px;
    border: 1px solid gold;
    border-radius: 10px;
}
.exp_3{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 300px;
    margin-top: 280px;
    border: 1px solid gold;
    border-radius: 10px;
}
.exp_4{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
    width: 300px;
    margin-top: 240px;
    border: 1px solid gold;
    border-radius: 10px;
}
.divident{
    margin-bottom: -12px;
    margin-left: 20%;
    height: 150px;
    border: 5px solid gold;
    border-top: hidden;
    border-left: hidden;
    border-bottom: hidden;
    line-height: 0px;
}
.divident_1{
    margin-top: -18px;
    margin-left: 20%;
    height: 250px;
    border: 5px solid gold;
    border-top: hidden;
    border-left: hidden;
    border-bottom: hidden;
    line-height: 0px;
}
.circle{
    color:gold;
    font-size: 40px;
    margin-left: -12px;
    line-height: 0px;
}
.circle_1{
    color:gold;
    font-size: 40px;
    margin-left: -18px;
    transform: rotateZ(180deg);
    line-height: 10px;
}
.circle_3{
    color:gold;
    font-size: 40px;
    margin-left: -11.25px;
    transform: rotateZ(270deg);
    line-height: 10px;
}
.circle_4{
    color:gold;
    font-size: 40px;
    margin-left: -11.25px;
    transform: rotateZ(90deg);
    line-height: 10px;
}
.middle{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    height: 1290px;
}
.head{
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.right{
    margin-left: 10%;
    width: 30%;
    display: flex;
    flex-direction: column;


}
#projec_heading{
    font-size: 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
    margin-left: 650px;
}
.project_1{
    margin-top: 200px;
    display: flex;
}
.details_1{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 100px;
    color: gold;
    height: 500px;
    text-align: left;
}
.topic_1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
    font-size: 50px;
    width: 500px;
}
.para_1{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    width: 600px;
    text-align: left;
}
.page_4{
    margin-top: 300px;
    display: block;
}
.cake{
    width: 600px;
    margin-left: 320px;
    margin-top: -0px;
}
.details_2{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 100px;
    color: gold;
    height: 500px;
    
}
.details_2 p{
    text-align: right;
}
.details_2 div{
    margin-left:100px ;
}
.img_2{
    width: 650px;
    height: fit-content;
    margin-left: 100px;
    margin-top: 10px;

}
.project_2{
    display: flex;
    margin-top: 200px;
    text-align: right;
}
.details_3 {
    margin-left: 100px;
}
.details_3 .topic_1{
    text-align: left;
}
.img_3{
    margin-left: 100px;
    width: 650px;
    margin-top:50px;
    height: fit-content;
}
.full{
    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-top: 650px;
}
.card_box{
    width: 90%;
    height:400px;
    margin-left:100px;
    display: flex;
}
.card_1{
    width: 300px;
    height:400px;
    margin-left:20px;
    background-color: rgb(128, 128, 128,0.2) ;
    color: gold;

}
.card_1:hover{
    width:350;
    height:450px;
    margin-top: -50px;
    background-color: rgb(255, 255, 255);
    color: black;
}
.page_5{
    margin-top: 100px;
    height: 800px;
}
.card_head{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    margin-left: 10px;
    text-align: center;
}
.dp_card{
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;

}
.card_box a{
    text-decoration: none;
}
#page_5_head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: gold;
    margin-top: 80px;
    margin-left: 670px;
    margin-bottom: 80px;

}
.card_name{
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: -20px;

}

.card_button{
    border: 1px solid gold;
    padding: 8px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 20px;
    width: 40%;
    margin-left:27%;
}