html{scroll-behavior: smooth;}
*{
      font-family: 'Times New Roman', Times, serif;
      font-size: large;
    }
body{
    background-image:url('/Images/Background.png');
    background-size:cover;
    height: 100vh;
    width: 100%; 
}
.card{
    width: 200px;
    opacity: 90%;
    background-color:black;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.card-img-top{
    width:200px;
    margin-right: 5;
    align-content: center;
}

.jumbotron{

    font-size: smaller;
}
#banner{
    opacity: 90%;
    text-align: center;
}
#banner-link{
    text-decoration: none;
    font-size: 60px;
    opacity: 90%;
    text-align: center;
}
#navbar{
    background-color: rgb(248, 248, 248);
    opacity:80%;
    position: fixed;
    top: -68px;
    width: 100%;
    transition: top 0.3s;
}

#page{
    display: block;
    opacity: 90%;
    background-color: rgb(255, 255, 255);
}
#aboutus{
    text-align: center;
    opacity:90%;
    background-color: rgb(255, 255, 255);
}
.card-tags{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-img-top{
    height: 260px;
}
a{
    font-size: larger;
}
.card-body{
    display: flex;
    justify-content: center;
}
button:focus{
    outline: none!important;
    border: none!important;
}